<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/loginusers" method="post">
        <table align="center" border="1px">
            <tr>
                <td>
                    Email :-
                </td>
                <td>
                   <input type="email" placeholder="email" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    Password :-
                </td>
                <td>
                   <input type="text" placeholder="Password" name="password">
                </td>
            </tr>
            <tr>
                <td>
               
                </td>
                <td>
                   <input type="submit" >
                </td>
            </tr>
            <td>
               <a href="/res">Register</a>
            </td>
        </table>
    </form>
   
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

    body * { box-sizing: border-box; }

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .left-login > h1 { color: #77ffc0; }

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
 
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

    .card-login > h1 {
        color: #00ff88;
        font-weight: 800;
        margin: 0;
    }

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

    .textfield > input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background: #514869;
        color: #f0ffffde;
        font-size: 12px;
        box-shadow: 0px 10px 40px #00000056;
        outline: none;
        box-sizing: border-box;
    }

        .textfield > input::placeholder { color: #f0ffff94; }

    .textfield > label {
        color: #f0ffffde;
        margin-bottom: 10px;
    }

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
    .card-login { width: 85%;}
}

@media only screen and (max-width: 600px) {
    .main-login { flex-direction: column; }
    .left-login { width: 100%; height: auto; }
        .left-login > h1 { display: none; }

    .right-login { width: 100%; height: auto; }
    .left-login-img { width: 50vw; }
    .card-login { width: 90%; }
}

</style>
<body>
    <main class="main-login">
        <div class="left-login">
            <h1>Login<br>And join our team</h1>
            <img src="https://i.postimg.cc/YC13sX2Z/Astronaut-cuate.png" class="left-login-img" alt="astronaut image">
        </div>

        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                <form action="/loginusers" method="post">
                <div class="textfield">
                    <label for="user">email</label>
                    <input type="email" placeholder="email" name="email">
                </div>

                <div class="textfield">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                
                <input type="submit" class="btn-login">
                <a href="/res" class="btn-login" >Register</a>
            </form>
            </div>
        </div>
    </main>
</body>
</html>