<html>

<head>
  <title>DevFlix</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>


<body>

  <div align="center">


    <h1>
    Movies  Add Record
    </h1>
    <form action="/insert" method="post" enctype="multipart/form-data">
      <table border="1">
        <tr>
          <td>
            Name:-
          </td>

          <td>
            <input type="text" name="name">
          </td>
        </tr>
        <tr>
          <td>
            description:-
          </td>

          <td>
            <input type="text" name="desc">
          </td>
        </tr>
        <tr>
          <td>
           price:-
          </td>

          <td>
            <input type="text" name="price">
          </td>
        </tr>
        <tr>
          <td>
          image:-
          </td>

          <td>
            <input type="file" name="image">
          </td>
        </tr>
        <tr>
          <td>
    
          </td>

          <td>
            <input type="submit" >
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>